VITE_RUM_ID=
VITE_RUM_TOKEN=
VITE_STATIC_LINK=[{"title":"Docs","url":"https://docs.security-hub.jp/"},{"title":"Link Name","url":"https://your-link-here/"}]
VITE_GITHUB_APP_INSTALL_URL=https://github.com/apps/risken-code-app/installations/select_target
